body{
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input{
  padding: 10px;
  width: 70%;
}

button{
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
}

#weather{
  margin-top: 20px;
}