*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  font-family:Arial;

  background:#0f172a;

  color:white;
}

nav{

  background:#1e293b;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:15px 30px;
}

.links a{

  color:white;

  text-decoration:none;

  margin-left:20px;
}

.container{

  width:90%;
  max-width:400px;

  background:white;

  color:black;

  margin:50px auto;

  padding:30px;

  border-radius:12px;

  text-align:center;
}

.page{

  width:90%;
  max-width:700px;

  background:white;

  color:black;

  margin:50px auto;

  padding:30px;

  border-radius:12px;

  line-height:1.8;
}

input{

  width:100%;

  padding:12px;

  margin-top:20px;
}

button{

  margin-top:20px;

  padding:12px 20px;

  border:none;

  background:#2563eb;

  color:white;

  border-radius:5px;

  cursor:pointer;
}

button:hover{

  background:#1d4ed8;
}

#weather{

  margin-top:25px;

  line-height:2;
}

img{

  width:80px;
}

@media(max-width:600px){

  nav{

    flex-direction:column;
  }

  .links{

    margin-top:10px;
  }

  .links a{

    margin:0 10px;
  }
}